{% extends "base.html.twig" %}

{% block title %}
    produits
{% endblock %}
{#
    on ecrase le block "boby
    {{ pseudo }} est une variable qui est déclaré dans le fichiers HomeController
    qui est le key dans le tableau assoc
#}
{% block body   %}
    <p>Liste des articles <br>
         </p>
    <ul>
        {# on inverse foreach tableaux as tableau #}
        {% for element in article  %}
            <li>{{ element }}</li>

        {% endfor %}
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto dolorem harum ipsum iusto maxime praesentium quasi veniam voluptates. Beatae hic incidunt minima officia totam, voluptate voluptatem. Assumenda dolores error ex exercitationem inventore labore modi nesciunt qui reprehenderit vel! Animi aperiam assumenda deleniti earum iure laboriosam necessitatibus quos rerum saepe?</p>


{% endblock %}
